<?xml version="1.0"?>
<ExportProfile xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Version>4.5.0.51</Version>
  <ExportDate>11/19/2020 4:32:34 PM</ExportDate>
  <Data>
    <SettingsCollection>
      <Settings xsi:type="S3Settings">
        <EnableChunks>true</EnableChunks>
        <Name>amx</Name>
        <ID>49ae8bd3-4639-4175-a953-77ac4d72f407</ID>
        <ContainerSettingsCollection />
        <RequestStyle>Path</RequestStyle>
        <AWSKey>AKIAIYHR3UM7QQCXSYBQ</AWSKey>
        <ExternalBuckets2 />
        <UseSSL>true</UseSSL>
        <AWSSecret>wS1T3OitdFblzsSnFRyfz8krY1r41aK9LcgboDFeTW1zSqDOkVzH2v/PRHnlMkTx</AWSSecret>
        <MFASerialNumber />
        <AmazonAuthType>AccessSecretKey</AmazonAuthType>
        <AllowRequesterPay>false</AllowRequesterPay>
      </Settings>
    </SettingsCollection>
    <Proxy>
      <UseProxy>true</UseProxy>
      <UseDefault>true</UseDefault>
      <Address />
      <Port>80</Port>
      <UseAuthentication>false</UseAuthentication>
      <User />
      <Password>bZvwaXtwQzG2BAWX0jc4nw==</Password>
      <Domain />
    </Proxy>
    <GeneralOptions>
      <DeleteToRecycleBin>false</DeleteToRecycleBin>
      <UseCustomTransferBufferSize>false</UseCustomTransferBufferSize>
      <CustomTransferBufferSize>65536</CustomTransferBufferSize>
      <RetryAttempts>3</RetryAttempts>
      <TimeBetweenRetryAttempts>400</TimeBetweenRetryAttempts>
      <UseMD5>false</UseMD5>
      <DontShowHiddenFilesAndFolder>true</DontShowHiddenFilesAndFolder>
      <ShowDeletedVersions>false</ShowDeletedVersions>
      <MarkDeletedFoldersWithGray>true</MarkDeletedFoldersWithGray>
      <PreReadBufferSize>524288</PreReadBufferSize>
      <UploadBandwidthLimitEnabled>false</UploadBandwidthLimitEnabled>
      <UploadBandwidthLimit>97656</UploadBandwidthLimit>
      <DownloadBandwidthLimitEnabled>false</DownloadBandwidthLimitEnabled>
      <DownloadBandwidthLimit>97656</DownloadBandwidthLimit>
      <NetworkBandwidthLimitEnabled>false</NetworkBandwidthLimitEnabled>
      <NetworkBandwidthLimit>97656</NetworkBandwidthLimit>
      <ShowInTray>Never</ShowInTray>
      <QueueVisualMode>Tabs</QueueVisualMode>
      <UseMasterPassword>false</UseMasterPassword>
      <HashCode />
      <AskBeforeClosingTab>false</AskBeforeClosingTab>
      <DontAksBeforeCopyMove>false</DontAksBeforeCopyMove>
      <ShowNewVersionDialog>true</ShowNewVersionDialog>
      <LastAcceptedVersion />
      <ImportExportManifestLocation />
      <GoogleResumableUpload>false</GoogleResumableUpload>
      <MemoryManagerMaxMemoryUsage>314572800</MemoryManagerMaxMemoryUsage>
      <MemoryManagerMaxDiskUsage>0</MemoryManagerMaxDiskUsage>
      <MemoryManagerUseAvailMemPercent>50</MemoryManagerUseAvailMemPercent>
      <DefaultPathForExport>C:\Users\GaryW10\Documents</DefaultPathForExport>
      <DefaultPathForImport>C:\Users\GaryW10\Documents</DefaultPathForImport>
      <Language>en-US</Language>
      <CheckForNewVersion>true</CheckForNewVersion>
      <CBLPassword>bZvwaXtwQzG2BAWX0jc4nw==</CBLPassword>
      <CBLSettingsEncryptionPassword>bZvwaXtwQzG2BAWX0jc4nw==</CBLSettingsEncryptionPassword>
    </GeneralOptions>
    <CopyMoveOptions>
      <UseShareReadWriteModeOnError>true</UseShareReadWriteModeOnError>
      <OverwriteAction>AskEveryTime</OverwriteAction>
      <ForceSharing>true</ForceSharing>
      <CopyMoveViaLocalPcOnAccessDenied>false</CopyMoveViaLocalPcOnAccessDenied>
      <PermissionsInheritance>DoNotInherit</PermissionsInheritance>
      <KeepExistingPemissionsOnCloudCopy>false</KeepExistingPemissionsOnCloudCopy>
      <DoNotChangePermissionsForExisting>false</DoNotChangePermissionsForExisting>
      <CommandCompletedCountThreshold>20</CommandCompletedCountThreshold>
      <CommandCompletedMBytesThreshold>5</CommandCompletedMBytesThreshold>
      <AllowCountThreshold>true</AllowCountThreshold>
      <AllowBytesThreshold>true</AllowBytesThreshold>
      <UploadLimitGb>5</UploadLimitGb>
      <KeepExistingHeaders>false</KeepExistingHeaders>
      <UseAdvancedRetry>false</UseAdvancedRetry>
    </CopyMoveOptions>
    <S3Options>
      <SSEKeyType>None</SSEKeyType>
    </S3Options>
    <GlacierOptions>
      <ChunkSize>8388608</ChunkSize>
      <UseParallelUpload>true</UseParallelUpload>
      <RetrievalRateLimitType>Specified</RetrievalRateLimitType>
      <PeakRetrievalRateLimit>1024</PeakRetrievalRateLimit>
      <FlatMode>false</FlatMode>
      <EstimatedJobDuration>14400</EstimatedJobDuration>
      <JobPollInterval>1200</JobPollInterval>
      <S3ArchivedToGlacierPollInterval>1800</S3ArchivedToGlacierPollInterval>
      <JobPollIntervalDispersionFactor>20</JobPollIntervalDispersionFactor>
      <MaxAbsoluteJobPollIntervalDispersion>1200</MaxAbsoluteJobPollIntervalDispersion>
      <InventoryRetrievalItemsLimit>10000000</InventoryRetrievalItemsLimit>
      <AssumedArchiveTOCLength>1048576</AssumedArchiveTOCLength>
    </GlacierOptions>
    <AmazonCloudDriveOptions>
      <RequestThrottlerTimeFrameWidth>7000</RequestThrottlerTimeFrameWidth>
      <RequestThrottlerNumRequests>10</RequestThrottlerNumRequests>
    </AmazonCloudDriveOptions>
    <ConsoleOptions>
      <WindowState>Maximized</WindowState>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>800</Width>
        <Height>600</Height>
      </Size>
    </ConsoleOptions>
    <AdvancedOptions>
      <UseChunks>false</UseChunks>
      <ChunkTransparency>StorageDefault</ChunkTransparency>
      <FixETagAfterMultipartUpload>false</FixETagAfterMultipartUpload>
      <ParallelDownloadMinFileSizeMB>10</ParallelDownloadMinFileSizeMB>
      <ChunkSizeKB>10240</ChunkSizeKB>
      <EncryptionAlgorithm>None</EncryptionAlgorithm>
      <EncryptionKeySize>128</EncryptionKeySize>
      <EncryptionPassword>bZvwaXtwQzG2BAWX0jc4nw==</EncryptionPassword>
      <UseCompression>false</UseCompression>
      <UseEncryption>false</UseEncryption>
      <ThreadCount>1</ThreadCount>
      <UseParallelUpload>false</UseParallelUpload>
      <UseServerTimeInRequests>false</UseServerTimeInRequests>
      <CommandQueueSizeLimit>200</CommandQueueSizeLimit>
      <RequestThrottlerTimeFrameWidth>1000</RequestThrottlerTimeFrameWidth>
      <RequestThrottlerNumRequests>10</RequestThrottlerNumRequests>
      <UseFederatedUserCredentialsForSG>true</UseFederatedUserCredentialsForSG>
    </AdvancedOptions>
    <LoggingOptions>
      <LoggingLevel>Warning</LoggingLevel>
      <LogPath>C:\Users\GaryW10\AppData\Local\CloudBerry Explorer for Amazon S3\Logs\cloudberry.log</LogPath>
      <EvenListSize>500</EvenListSize>
    </LoggingOptions>
    <AddressBook />
    <BucketSettings />
    <Version>4.5.0.51</Version>
  </Data>
  <Sync>
    <SettingsCollection>
      <SyncSettings>
        <Name>am</Name>
        <Instance1>My Computer</Instance1>
        <Path1>C:\am</Path1>
        <Instance2>AKIAIYHR3UM7QQCXSYBQ</Instance2>
        <Path2>amxemr/am</Path2>
        <QuickSync>false</QuickSync>
        <IncludeSubfolders>true</IncludeSubfolders>
        <DeleteOnTarget>false</DeleteOnTarget>
        <UseMD5>false</UseMD5>
        <Filter>
          <FilterType>All</FilterType>
          <Filters />
          <ExcludeFolderList />
        </Filter>
        <Direction>LeftToRight</Direction>
        <InvalidateCloudFront>false</InvalidateCloudFront>
      </SyncSettings>
      <SyncSettings>
        <Name>am</Name>
        <Instance1>My Computer</Instance1>
        <Path1>C:\am</Path1>
        <Instance2>AKIAIYHR3UM7QQCXSYBQ</Instance2>
        <Path2>amxemr/am</Path2>
        <QuickSync>false</QuickSync>
        <IncludeSubfolders>true</IncludeSubfolders>
        <DeleteOnTarget>false</DeleteOnTarget>
        <UseMD5>false</UseMD5>
        <Filter>
          <FilterType>All</FilterType>
          <Filters />
          <ExcludeFolderList />
        </Filter>
        <Direction>LeftToRight</Direction>
        <InvalidateCloudFront>false</InvalidateCloudFront>
      </SyncSettings>
    </SettingsCollection>
  </Sync>
  <UploadRules>
    <Rules />
  </UploadRules>
  <Favorites>
    <FavoritesCollection />
  </Favorites>
</ExportProfile>